XMLschema/aor2_18112016.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="transcription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="page"/>
        <xs:element ref="annotation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.page"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.page">
    <xs:attribute name="filename" use="required"/>
    <xs:attribute name="pagination"/>
    <xs:attribute name="signature"/>
    <xs:attribute name="reader" use="required"/>
    <xs:attribute name="origin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="extraneous"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="status">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="floating"/>
          <xs:enumeration value="fixed"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="host_page"/>
    <xs:attribute name="related_page"/>
  </xs:attributeGroup>
  <xs:element name="annotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="marginalia"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="underline"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="symbol"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mark"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="numeral"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="errata"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="calculation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graph"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marginalia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="language"/>
        <xs:element minOccurs="0" ref="translation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.marginalia"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.marginalia">
    <xs:attribute name="hand" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="English_secretary"/>
          <xs:enumeration value="Italian"/>
          <xs:enumeration value="typescript"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pen"/>
          <xs:enumeration value="pencil"/>
          <xs:enumeration value="typewriter"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id"/>
    <xs:attribute name="marginalia_continues_to"/>
    <xs:attribute name="marginalia_continues_from"/>
    <xs:attribute name="marginalia_to_transcription"/>
    <xs:attribute name="marginalia_from_transcription"/>
    <xs:attribute name="book_id"/>
    <xs:attribute name="internal_ref"/>
    <xs:attribute name="date"/>
    <xs:attribute name="other_reader"/>
    <xs:attribute name="topic">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Law"/>
          <xs:enumeration value="Astronomy"/>
          <xs:enumeration value="Warfare"/>
          <xs:enumeration value="Rhetoric"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="anchor_text"/>
  </xs:attributeGroup>
  <xs:element name="language">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="position"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.language"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.language">
    <xs:attribute name="ident" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="position">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="marginalia_text"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="marginalia_symbol"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="book"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="location"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="X-ref"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="emphasis"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="internal_ref"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.position"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.position">
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="book_orientation" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="marginalia_text">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="marginalia_ref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marginalia_ref">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.marginalia_ref"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.marginalia_ref">
    <xs:attribute name="id" use="required"/>
    <xs:attribute name="filename" use="required"/>
    <xs:attribute name="book_id" use="required"/>
  </xs:attributeGroup>
  <xs:element name="marginalia_symbol">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.marginalia_symbol"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.marginalia_symbol">
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Asterisk"/>
          <xs:enumeration value="Bisected_circle"/>
          <xs:enumeration value="Crown"/>
          <xs:enumeration value="JC"/>
          <xs:enumeration value="HT"/>
          <xs:enumeration value="Hieroglyphic_Monad"/>
          <xs:enumeration value="LL"/>
          <xs:enumeration value="Mars"/>
          <xs:enumeration value="Mercury"/>
          <xs:enumeration value="Moon"/>
          <xs:enumeration value="Opposite_planets"/>
          <xs:enumeration value="Salt"/>
          <xs:enumeration value="Saturn"/>
          <xs:enumeration value="Square"/>
          <xs:enumeration value="SS"/>
          <xs:enumeration value="Sulfur"/>
          <xs:enumeration value="Sun"/>
          <xs:enumeration value="Venus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="person">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.person"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.person">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="book">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.book"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.book">
    <xs:attribute name="title" use="required"/>
  </xs:attributeGroup>
  <xs:element name="location">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.location"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.location">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="X-ref">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.X-ref"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.X-ref">
    <xs:attribute name="person" use="required"/>
    <xs:attribute name="book_title" use="required"/>
    <xs:attribute name="language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
  </xs:attributeGroup>
  <xs:element name="emphasis">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.emphasis"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.emphasis">
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="straight"/>
          <xs:enumeration value="curved"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="double"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
  </xs:attributeGroup>
  <xs:element name="internal_ref">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="target"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.internal_ref"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.internal_ref">
    <xs:attribute name="text"/>
    <xs:attribute name="anchor_text"/>
  </xs:attributeGroup>
  <xs:element name="target">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.target"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.target">
    <xs:attribute name="filename" use="required"/>
    <xs:attribute name="book_id" use="required"/>
    <xs:attribute name="text" use="required"/>
  </xs:attributeGroup>
  <xs:element name="translation" type="xs:string"/>
  <xs:element name="underline">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.underline"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.underline">
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
          <xs:enumeration value="scoring"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="straight"/>
          <xs:enumeration value="curved"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="triple"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="symbol">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.symbol"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.symbol">
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Asterisk"/>
          <xs:enumeration value="Bisected_circle"/>
          <xs:enumeration value="Crown"/>
          <xs:enumeration value="JC"/>
          <xs:enumeration value="HT"/>
          <xs:enumeration value="Hieroglyphic_Monad"/>
          <xs:enumeration value="LL"/>
          <xs:enumeration value="Mars"/>
          <xs:enumeration value="Mercury"/>
          <xs:enumeration value="Moon"/>
          <xs:enumeration value="Opposite_planets"/>
          <xs:enumeration value="Salt"/>
          <xs:enumeration value="Saturn"/>
          <xs:enumeration value="Square"/>
          <xs:enumeration value="SS"/>
          <xs:enumeration value="Sulfur"/>
          <xs:enumeration value="Sun"/>
          <xs:enumeration value="Venus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="mark">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.mark"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.mark">
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="apostrophe"/>
          <xs:enumeration value="box"/>
          <xs:enumeration value="bracket"/>
          <xs:enumeration value="circumflex"/>
          <xs:enumeration value="colon"/>
          <xs:enumeration value="comma"/>
          <xs:enumeration value="dash"/>
          <xs:enumeration value="diacritic"/>
          <xs:enumeration value="dot"/>
          <xs:enumeration value="double_vertical_bar"/>
          <xs:enumeration value="equal_sign"/>
          <xs:enumeration value="est_mark"/>
          <xs:enumeration value="hash"/>
          <xs:enumeration value="horizontal_bar"/>
          <xs:enumeration value="page_break"/>
          <xs:enumeration value="pen_trial"/>
          <xs:enumeration value="plus_sign"/>
          <xs:enumeration value="quotation_mark"/>
          <xs:enumeration value="quattuorpunctus"/>
          <xs:enumeration value="scribble"/>
          <xs:enumeration value="section_sign"/>
          <xs:enumeration value="semicolon"/>
          <xs:enumeration value="slash"/>
          <xs:enumeration value="straight_quotation_mark"/>
          <xs:enumeration value="tick"/>
          <xs:enumeration value="tilde"/>
          <xs:enumeration value="triple_dash"/>
          <xs:enumeration value="tripunctus"/>
          <xs:enumeration value="vertical_bar"/>
          <xs:enumeration value="X_sign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="numeral">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.numeral"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.numeral">
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text"/>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- http://www.loc.gov/standards/iso639-2/php/code_list.php -->
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="errata">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.errata"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.errata">
    <xs:attribute name="language" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="copytext" use="required"/>
    <xs:attribute name="amendedtext" use="required"/>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="drawing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing_text"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing_person"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing_book"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing_location"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drawing_symbol"/>
        <xs:element minOccurs="0" ref="drawing_text_translation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.drawing"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="face"/>
          <xs:enumeration value="manicule"/>
          <xs:enumeration value="florilegium"/>
          <xs:enumeration value="crown"/>
          <xs:enumeration value="coat_of_arms"/>
          <xs:enumeration value="scientific_instrument"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="book_orientation" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
    <xs:attribute name="anchor_text"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="drawing_text">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.drawing_text"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing_text">
    <xs:attribute name="hand" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="English_secretary"/>
          <xs:enumeration value="Italian"/>
          <xs:enumeration value="typescript"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="drawing_person">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.drawing_person"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing_person">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="drawing_book">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.drawing_book"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing_book">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="drawing_location">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.drawing_location"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing_location">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="drawing_symbol">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.drawing_symbol"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.drawing_symbol">
    <xs:attribute name="name"/>
  </xs:attributeGroup>
  <xs:element name="drawing_text_translation" type="xs:string"/>
  <xs:element name="calculation">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="calculation_anchor"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.calculation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.calculation">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="arithmetic"/>
          <xs:enumeration value="measurement"/>
          <xs:enumeration value="logic"/>
          <xs:enumeration value="algebra"/>
          <xs:enumeration value="geometry"/>
          <xs:enumeration value="calculus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="book_orientation" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="calculation_anchor">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.calculation_anchor"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.calculation_anchor">
    <xs:attribute name="data"/>
  </xs:attributeGroup>
  <xs:element name="graph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="node"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="link"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graph_text"/>
        <xs:element minOccurs="0" ref="graph_text_translation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.tree">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="genealogical_tree"/>
          <xs:enumeration value="ramus_tree"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="book_orientation" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="chalk"/>
          <xs:enumeration value="pen"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id"/>
    <xs:attribute name="tree_continues_to"/>
    <xs:attribute name="tree_continues_from"/>
    <xs:attribute name="tree_to_transcription"/>
    <xs:attribute name="tree_from_transcription"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <xs:element name="node">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.node"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.node">
    <xs:attribute name="id" use="required" type="xs:ID"/>
    <xs:attribute name="relationship" type="xs:IDREFS"/>
    <xs:attribute name="person_name"/>
    <xs:attribute name="anchor_text"/>
  </xs:attributeGroup>
  <xs:element name="link">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.link"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.link">
    <xs:attribute name="to" use="required" type="xs:IDREFS"/>
    <xs:attribute name="from" use="required" type="xs:IDREFS"/>
    <xs:attribute name="relationship" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="has_child"/>
          <xs:enumeration value="has_spouse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="graph_text">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note_person"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note_book"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note_location"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note_symbol"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.note"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.note">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="hand" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="English_secretary"/>
          <xs:enumeration value="Italian"/>
          <xs:enumeration value="typescript"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="internal_ref" type="xs:IDREFS"/>
    <xs:attribute name="anchor_text"/>
  </xs:attributeGroup>
  <xs:element name="note_symbol">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.note_symbol"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.note_symbol">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="note_person">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.note_person"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.note_person">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="note_book">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.note_book"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.note_book">
    <xs:attribute name="title" use="required"/>
  </xs:attributeGroup>
  <xs:element name="note_location">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.note_location"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.note_location">
    <xs:attribute name="name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="graph_text_translation" type="xs:string"/>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tr"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table_text"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table_person"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table_book"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table_location"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="table_symbol"/>
        <xs:element minOccurs="0" ref="table_text_translation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.table"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="astrological_chart"/>
          <xs:enumeration value="standard_table"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="place" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="head"/>
          <xs:enumeration value="tail"/>
          <xs:enumeration value="left_margin"/>
          <xs:enumeration value="right_margin"/>
          <xs:enumeration value="intext"/>
          <xs:enumeration value="full_page"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id"/>
    <xs:attribute name="internal_ref"/>
    <xs:attribute name="aggregated_information"/>
  </xs:attributeGroup>
  <!-- functions as ID -->
  <!-- functions as IDREFS -->
  <xs:element name="tr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="th"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="td"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="th">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.th"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.th">
    <xs:attribute name="label"/>
    <xs:attribute name="anchor_text"/>
    <xs:attribute name="anchor_data"/>
  </xs:attributeGroup>
  <xs:element name="td">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.td"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.td">
    <xs:attribute name="anchor_text"/>
    <xs:attribute name="anchor_data"/>
  </xs:attributeGroup>
  <xs:element name="table_text">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.table_text"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table_text">
    <xs:attribute name="hand" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="English_secretary"/>
          <xs:enumeration value="Italian"/>
          <xs:enumeration value="typescript"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language_ident" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="EN"/>
          <xs:enumeration value="EL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="CY"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="table_person">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.table_person"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table_person">
    <xs:attribute name="name"/>
  </xs:attributeGroup>
  <xs:element name="table_book">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.table_book"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table_book">
    <xs:attribute name="name"/>
  </xs:attributeGroup>
  <xs:element name="table_location">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.table_location"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table_location">
    <xs:attribute name="name"/>
  </xs:attributeGroup>
  <xs:element name="table_symbol">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.table_symbol"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.table_symbol">
    <xs:attribute name="name"/>
  </xs:attributeGroup>
  <xs:element name="table_text_translation" type="xs:string"/>
</xs:schema>
